# vscode specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# NodeJS specific 
.nyc_output/
coverage/
dist
node_modules
npm-debug.log
package-lock.json
test/*.log